In [1]:
# Import necessary libraries
import numpy as np
import pandas as pd

In [2]:
# 1. Create an array of size [10,50] and use the random function to fill it with integers between 1 and 500 (inclusive). 
# Load it to a DataFrame.
random_array = np.random.randint(1,501, size=(10,50))

In [3]:
random_array

array([[397, 425, 228,  94, 435,  19, 111, 371, 242, 328, 482,  70, 394,
        274, 471,  40, 114, 207, 406, 324,   5, 313, 131,  46, 135,  42,
        354,  87,  24, 379, 206, 123, 487, 313, 319, 418,   6, 272, 497,
        342, 105,  96, 334,  87, 375,  93, 199,  39,  54,  11],
       [388, 242, 474, 171, 329, 388, 413, 249, 154, 451, 300, 500, 271,
         68, 209, 321, 402, 367, 397, 193, 192,  86, 399, 375, 459, 288,
        469, 147, 496, 242,   7, 111,   9, 469, 343, 397, 189, 388,   1,
        116, 124, 244, 231, 274, 300, 247, 269, 154, 124, 173],
       [494, 272,  50,  64, 396,  11,  11, 113, 177, 405, 268, 373, 282,
        430, 352, 247, 277, 382, 446,  19, 372, 324, 203, 406, 126, 443,
         41, 298, 277, 425,  73, 348, 378,  96, 455,  13, 461, 126, 185,
        189,  65, 284, 142, 443, 493, 413, 273, 456, 413, 371],
       [492, 378, 294, 275, 291, 461, 434, 123, 143, 489, 155, 305, 157,
        172,  42,  67, 259, 293,  87,  41, 289, 136, 450,  92,  90, 131,
        290, 455, 441,  77, 298, 488, 210, 217, 348, 246, 125, 464, 134,
        229, 104, 433, 274, 152,  24, 371, 334, 345, 104,  32],
       [ 96, 298, 326, 239, 302,  31, 360, 283, 412,  75, 280,  18, 382,
        329, 454,  79, 227, 219, 449,  76, 332,  29, 260, 439, 249,  62,
        214, 488, 459, 307, 248, 218,   2, 109, 201, 240, 343, 385, 334,
        439, 196,  81, 459, 406, 404, 221, 451, 223,  50, 355],
       [442, 431, 384, 333, 185, 168, 100, 288, 128, 432, 126, 120,  95,
        337, 164, 282, 102, 331, 155, 268, 279, 335, 362, 129, 292, 483,
        187, 408, 216, 481,  81, 125, 251, 430,  64, 217, 134, 352, 498,
        296, 218, 264, 258, 422,  14,  31, 398, 439, 455,  51],
       [310, 328, 443, 112, 145,  17, 358, 392, 364, 423, 213, 110, 108,
         78, 340, 362, 274, 118, 498, 364, 477, 358, 118, 445, 322,  36,
        195, 387, 496, 352, 236, 107, 266, 387, 299, 232, 472, 484, 242,
        319, 109, 112, 275, 176, 498,  27, 164, 276, 322, 271],
       [214, 140, 177,  87,   1, 185,  62,  34, 472, 144, 249, 464,  80,
        419, 100, 198, 232, 494, 222, 133, 180, 325, 294,  65, 364, 326,
         90, 374, 267, 201, 414, 167, 305, 448, 114,  64, 235, 467, 409,
        184, 104, 335,  75,  43, 201,  38, 135,   3, 171, 454],
       [357, 225,  85, 266, 474,  66,  29,  90, 273,  72, 229, 167, 201,
         76, 434, 438, 253, 411, 243,  71, 229, 273, 235,  56, 402, 467,
        225,  36, 274, 426, 253, 451, 331, 197, 260, 117,  60, 244, 129,
        403, 100, 265, 405, 393, 381, 248, 203,  50, 166,  91],
       [241, 356, 231, 205,  12, 448, 465,  66, 392, 435,   3,  42, 393,
         12, 178, 225, 340, 244, 162, 132, 218, 252, 283, 238, 259, 417,
        298, 264, 458, 218, 404, 263, 433,  72, 103, 408, 392, 202, 278,
        166, 106,  62, 401, 343, 248, 264,  96, 155, 438, 243]])

In [4]:
array_df = pd.DataFrame(random_array)

In [5]:
array_df

,0,1,2,3,4,5,6,7,8,9,...,40,41,42,43,44,45,46,47,48,49
0,397,425,228,94,435,19,111,371,242,328,...,105,96,334,87,375,93,199,39,54,11
1,388,242,474,171,329,388,413,249,154,451,...,124,244,231,274,300,247,269,154,124,173
2,494,272,50,64,396,11,11,113,177,405,...,65,284,142,443,493,413,273,456,413,371
3,492,378,294,275,291,461,434,123,143,489,...,104,433,274,152,24,371,334,345,104,32
4,96,298,326,239,302,31,360,283,412,75,...,196,81,459,406,404,221,451,223,50,355
5,442,431,384,333,185,168,100,288,128,432,...,218,264,258,422,14,31,398,439,455,51
6,310,328,443,112,145,17,358,392,364,423,...,109,112,275,176,498,27,164,276,322,271
7,214,140,177,87,1,185,62,34,472,144,...,104,335,75,43,201,38,135,3,171,454
8,357,225,85,266,474,66,29,90,273,72,...,100,265,405,393,381,248,203,50,166,91
9,241,356,231,205,12,448,465,66,392,435,...,106,62,401,343,248,264,96,155,438,243

In [6]:
# 2. Calculate the sum of each row; the sum of each column; and the sum of all entries.

#Sum of each row
sum_each_row = array_df.sum(axis=1)
sum_each_row

0    11324
1    13610
2    13661
3    12341
4    13139
5    13041
6    13817
7    10959
8    11830
9    12564
dtype: int64

In [7]:
# Sum of each column

sum_each_col = array_df.sum(axis=0)
sum_each_col

0     3431
1     3095
2     2692
3     1846
4     2570
5     1794
6     2343
7     2009
8     2757
9     3254
10    2305
11    2169
12    2363
13    2195
14    2744
15    2259
16    2480
17    3066
18    3065
19    1621
20    2573
21    2431
22    2735
23    2291
24    2698
25    2695
26    2363
27    2944
28    3408
29    3108
30    2220
31    2401
32    2672
33    2738
34    2506
35    2352
36    2417
37    3384
38    2707
39    2683
40    1231
41    2176
42    2854
43    2739
44    2938
45    1953
46    2522
47    2140
48    2297
49    2052
dtype: int64

In [8]:
# Sum of all entries

sum_all_entry = array_df.sum().sum()
sum_all_entry

126286

In [9]:
# 3. Determine the minimum; maximum; average; and standard deviation of all entries.

df_min = array_df.min().min()
df_max = array_df.max().max()
df_avg = array_df.mean().mean()
df_std = array_df.std().std()

In [10]:
# Minimum value of all entries

df_min

1

In [11]:
# Maximum value of all entries

df_max

500

In [12]:
# Average of all entries

df_avg

252.5720000000001

In [13]:
# Standard deviation of all entries

df_std

27.97417460799883

In [14]:
array_df.stack().std()

141.7617777090795

In [15]:
# 4. Sort the DataFrame: by rows, by columns, on row 2, on column 2.

# By Columns
sort_by_col = pd.DataFrame(np.sort(array_df.values, axis=0), index=array_df.index, columns=array_df.columns)
sort_by_col

,0,1,2,3,4,5,6,7,8,9,...,40,41,42,43,44,45,46,47,48,49
0,96,140,50,64,1,11,11,34,128,72,...,65,62,75,43,14,27,96,3,50,11
1,214,225,85,87,12,17,29,66,143,75,...,100,81,142,87,24,31,135,39,54,32
2,241,242,177,94,145,19,62,90,154,144,...,104,96,231,152,201,38,164,50,104,51
3,310,272,228,112,185,31,100,113,177,328,...,104,112,258,176,248,93,199,154,124,91
4,357,298,231,171,291,66,111,123,242,405,...,105,244,274,274,300,221,203,155,166,173
5,388,328,294,205,302,168,358,249,273,423,...,106,264,275,343,375,247,269,223,171,243
6,397,356,326,239,329,185,360,283,364,432,...,109,265,334,393,381,248,273,276,322,271
7,442,378,384,266,396,388,413,288,392,435,...,124,284,401,406,404,264,334,345,413,355
8,492,425,443,275,435,448,434,371,412,451,...,196,335,405,422,493,371,398,439,438,371
9,494,431,474,333,474,461,465,392,472,489,...,218,433,459,443,498,413,451,456,455,454

In [16]:
# By Rows

sort_by_row = pd.DataFrame(np.sort(array_df.values, axis=1), index=array_df.index, columns=array_df.columns)
sort_by_row

,0,1,2,3,4,5,6,7,8,9,...,40,41,42,43,44,45,46,47,48,49
0,5,6,11,19,24,39,40,42,46,54,...,394,397,406,418,425,435,471,482,487,497
1,1,7,9,68,86,111,116,124,124,147,...,399,402,413,451,459,469,469,474,496,500
2,11,11,13,19,41,50,64,65,73,96,...,425,430,443,443,446,455,456,461,493,494
3,24,32,41,42,67,77,87,90,92,104,...,433,434,441,450,455,461,464,488,489,492
4,2,18,29,31,50,62,75,76,79,81,...,406,412,439,439,449,451,454,459,459,488
5,14,31,51,64,81,95,100,102,120,125,...,422,430,431,432,439,442,455,481,483,498
6,17,27,36,78,107,108,109,110,112,112,...,392,423,443,445,472,477,484,496,498,498
7,1,3,34,38,43,62,64,65,75,80,...,374,409,414,419,448,454,464,467,472,494
8,29,36,50,56,60,66,71,72,76,85,...,402,403,405,411,426,434,438,451,467,474
9,3,12,12,42,62,66,72,96,103,106,...,401,404,408,417,433,435,438,448,458,465

In [17]:
# By row2

sort_by_row2 = array_df.sort_values(by=2, axis=1)
sort_by_row2

,5,6,35,19,26,2,3,40,30,33,...,29,13,43,25,18,34,47,36,44,0
0,19,111,418,324,354,228,94,105,206,313,...,379,274,87,42,406,319,39,6,375,397
1,388,413,397,193,469,474,171,124,7,469,...,242,68,274,288,397,343,154,189,300,388
2,11,11,13,19,41,50,64,65,73,96,...,425,430,443,443,446,455,456,461,493,494
3,461,434,246,41,290,294,275,104,298,217,...,77,172,152,131,87,348,345,125,24,492
4,31,360,240,76,214,326,239,196,248,109,...,307,329,406,62,449,201,223,343,404,96
5,168,100,217,268,187,384,333,218,81,430,...,481,337,422,483,155,64,439,134,14,442
6,17,358,232,364,195,443,112,109,236,387,...,352,78,176,36,498,299,276,472,498,310
7,185,62,64,133,90,177,87,104,414,448,...,201,419,43,326,222,114,3,235,201,214
8,66,29,117,71,225,85,266,100,253,197,...,426,76,393,467,243,260,50,60,381,357
9,448,465,408,132,298,231,205,106,404,72,...,218,12,343,417,162,103,155,392,248,241

In [18]:
# By column 2
sort_by_col2 = array_df.sort_values(by=2, axis=0)
sort_by_col2

,0,1,2,3,4,5,6,7,8,9,...,40,41,42,43,44,45,46,47,48,49
2,494,272,50,64,396,11,11,113,177,405,...,65,284,142,443,493,413,273,456,413,371
8,357,225,85,266,474,66,29,90,273,72,...,100,265,405,393,381,248,203,50,166,91
7,214,140,177,87,1,185,62,34,472,144,...,104,335,75,43,201,38,135,3,171,454
0,397,425,228,94,435,19,111,371,242,328,...,105,96,334,87,375,93,199,39,54,11
9,241,356,231,205,12,448,465,66,392,435,...,106,62,401,343,248,264,96,155,438,243
3,492,378,294,275,291,461,434,123,143,489,...,104,433,274,152,24,371,334,345,104,32
4,96,298,326,239,302,31,360,283,412,75,...,196,81,459,406,404,221,451,223,50,355
5,442,431,384,333,185,168,100,288,128,432,...,218,264,258,422,14,31,398,439,455,51
6,310,328,443,112,145,17,358,392,364,423,...,109,112,275,176,498,27,164,276,322,271
1,388,242,474,171,329,388,413,249,154,451,...,124,244,231,274,300,247,269,154,124,173